<div class="container">
  <!--  <h1 class="display-4">Meu nome é {{nome}} e minha idade é {{getIdade() + 20}}!</h1>-->
  <app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)"></app-funcionario-form>

  <!--  bind-disabled ou [disabled]-->
  <!--  (input)="alterarNome($event)" value="{{nome}}" é o mesmo que [(ngModel)]="nome"-->

  <!--  <div class="alert alert-primary" role="alert">-->
  <!--    Outro jeito de fazer: <strong>{{nome}}</strong>-->
  <!--  </div>-->

  <!--  <div class="form-group">-->
  <!--    <label>Nome</label>-->
  <!--    <input type="text" class="form-control" #nomeInput>-->
  <!--  </div>-->

  <!--  <button type="button" class="btn btn-primary" (click)="adicionarOutrojeito(nomeInput.value)">Adicionar</button>-->

  <div class="row" style="margin-top: 20px">
    <div class="col-2" *ngFor="let f of funcionarios">
      <app-funcionario-card [funcionario] = "f"></app-funcionario-card>
    </div>
  </div>
</div>

<div class="container">
<!--  pipes-->
  <h1>{{ nome | uppercase }}</h1>
  <h1>{{ dataAniversario | date: 'dd/MM/y' }}</h1>
  <h1>{{ preco | number: '1.2-2' }}</h1>
  <h1>{{ troco | currency: 'BRL' }}</h1>
</div>


