<div class="container">

  {{cliente | json}}
  {{usuarioForm.valid}}

  <div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>

  <form class="was-validated" autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">

    <div class="form-group">
      <label class="control-label">Nome</label>
      <!--      two way data binding em [(ngModel)] = "cliente.nome"-->
      <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome"
             required minlength="10" #nome="ngModel">
      <div *ngIf="nome.hasError('required') && nome.touched" class="invalid-feedback">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.touched" class="invalid-feedback">O nome deve ser completo
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="email" class="form-control" name="email" required valid email ngModel #email="ngModel">
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">Informe um e-mail válido</div>
    </div>


    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <!--      one way binding com  [ngModel]="profissao" ja seleciona a opcao definida em profissao-->
      <!--      [ngModel]="prof"  ja seleciona uma opcao da variavel prof-->
      <select class="custom-select" name="profissao" required ngModel #prof="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao">{{profissao}} </option>
      </select>
      <div *ngIf="prof.invalid && prof.touched" class="invalid-feedback">Informe uma profissão</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Salvar</button>
  </form>

</div>

